################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/SuperSocketRRPCIntegrationServerProject/v16/Server/sqlite3
/BTest/bin/Debug
/BTest/obj/Debug
/SuperSocketRRPCAOPContainer/bin/Debug
/SuperSocketRRPCAOPContainer/obj
/SuperSocketRRPCServer/bin/Debug
/SuperSocketRRPCServer/obj
/SuperSocketRRPCUnity/bin/Debug
/SuperSocketRRPCUnity/obj
/BTest/bin/Debug1
/SuperSocketRRPCServerCommandConsole/bin/Debug
/SuperSocketRRPCServerCommandConsole/obj
